numpy
numba
scipy
pytest
pytest-cov
flake8
Flake8-pyproject
flake8-bugbear
pep8-naming
flake8-builtins
flake8-comprehensions
flake8-eradicate
flake8-import-order
black
mypy
typing-extensions<=4.6.3
networkx
matplotlib