numpy>=1.19
numba
scipy
scikit-learn>=1.4
pytest
pytest-cov
flake8
Flake8-pyproject
flake8-bugbear
pep8-naming
flake8-builtins
flake8-comprehensions
flake8-eradicate
flake8-import-order
black
mypy
typing-extensions<=4.6.3
networkx
matplotlib
joblib==1.2.0
psutil
sphinx
sphinx-rtd-theme
numpydoc
pydeps
Graphviz
pandas
pyarrow
torch>=2.0
